<header class="header header3 header5 header6">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="search-bar">
                <input type="search" placeholder="Type search text here...">
                <div class="search-close"><i class="fa fa-times"></i></div>
            </div>

            <div class="navbar-header hidden visible-xs">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./index.html"><img src="assets/img/logo.png" class="img-responsive"
                        alt="" /></a>
            </div>

            <div class="navbar-social">
                <!-- <a href="#"><img src="assets/img/icon/3.png" class="img-responsive" alt=""/></a>
                <a href="#"><img src="assets/img/icon/4.png" class="img-responsive" alt=""/></a>
                <a href="#"><img src="assets/img/icon/5.png" class="img-responsive" alt=""/></a> -->
                <a href="#">
                    <p style="font-size: 30px;">SOCIAL NETWORK</p>
                </a>
            </div>

            <div class="login pull-right"></div>
            <div class="pull-right hidden-xs">
                <button type="button" id="btn-upload" class="btn btn-secondary">UPLOAD</button>
            </div>
            <div class="search-alt pull-right hidden-xs">
                <form>
                    <input type="text" id="txt-search" placeholder="Search">
                </form>
            </div>

        </div>
    </nav>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="nav-white">
        <div class="container">
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Video</a>

                    </li>
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">People</a>

                    </li>
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Document</a>

                    </li>
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Event</a>

                    </li>
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Communities</a>
                        
                    </li>
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Favorit</a>
                        
                    </li>
                    <li class="dropdown dropdown-v1">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Channel</a>
                        
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <!-- /.navbar-collapse -->
</header>